name: C1 Pipeline

on: 
  push:
    branches: [ main ]

jobs:
  build:
      runs-on: ubuntu-latest

  steps:
    - name: Checkout Code
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup/setup-node@v3
      with:
        node_version: 16

    - name: Install dependencies
      run: npm Install

    - name: Run tests
      run: npm test